:root {
  --tableau-moyen-width: 0px;
  --tableau-moyen-y-offset: 70px;
}

$blue: #005e95;
$orange: #FF4500;
$green: #71de6e;
$red: #de2900;
$white: #fff;
$graysomber: rgb(38, 50, 56);
$graysombera: rgba(38, 50, 56, 0.8);

$borderradius: 2px;
$headerheight: 50px;
$buttonFontWeight: 0;
$headerHeight: 50px;

$font: 'Helvetica Neue', sans-serif;

