
node_modules/*
.vscode/*
build/*
dist/*
output/*
html-report/*
~tmp/*
.baseDir*
.tsdrc
.tscache
npm-debug.log
yarn.lock
coverage-final.*
*.env
coverage/*
/.idea/highlightedFiles.xml
/src/assets/esri
.scannerwork/*
