
$icomoon-font-path: 'assets/esri/themes/base/icons/fonts' !default;
$calcite-fonts-path: "assets/esri/themes/base/fonts/fonts/" !default;


$include_AreaMeasurement2D: true !default;
$include_AreaMeasurement3D: false !default;
$include_Attribution: false !default;
$include_BasemapGallery: true !default;
$include_BasemapLayerList: true !default;
$include_BasemapToggle: true !default;
$include_Bookmarks: true !default;
$include_BrowseItems: false !default;
$include_ClassedColorSlider: false !default;
$include_ClassedSizeSlider: false !default;
$include_ColorPicker: false !default;
$include_Compass: false !default;
$include_ColorSizeSlider: false !default;
$include_ColorSlider: false !default;
$include_CoordinateConversion: true !default;
$include_DatePicker: false !default;
$include_Daylight: false !default;
$include_Directions: false !default;
$include_DirectLineMeasurement3D: false !default;
$include_DistanceMeasurement2D: true !default;
$include_Editor: false !default;
$include_Expand: true !default;
$include_Feature: true !default;
$include_FeatureForm: true !default;
$include_FeatureTemplates: true !default;
$include_HeatmapSlider: false !default;
$include_Histogram: false !default;
$include_HistogramRangeSlider: false !default;
$include_HorizontalSlider: true !default;
$include_ItemList: true !default;
$include_LayerList: true !default;
$include_Legend: true !default;
$include_LineOfSight: false !default;
$include_Measurement: true !default;
$include_NavigationToggle: false !default;
$include_OpacitySlider: false !default;
$include_Print: true !default;
$include_Popup: true !default;
$include_RasterSymbologyEditor: false !default;
$include_RendererSlider: false !default;
$include_ScaleBar: true !default;
$include_ScaleRangeSlider: false !default;
$include_Search: true !default;
$include_SizeSlider: false !default;
$include_Sketch: false !default;
$include_Slice: false !default;
$include_Slider: true !default;
$include_Spinner: true !default;
$include_Swipe: false !default;
$include_TimePicker: false !default;
$include_TimeSlider: false !default;
$include_Zoom: true !default;

@import "assets/esri/themes/light/main.scss";

@import '~toastr/toastr.scss';

@import 'base/_config';
@import 'layouts/_default';
@import 'layouts/_responsive';
@import 'modules/_header';
@import 'modules/_banner';
@import 'modules/_layerlist';
@import 'modules/_search';
@import 'modules/_basemap';
@import 'modules/_button';
@import 'modules/_banner';
@import 'modules/_print';
@import 'modules/_customPrint';
@import 'modules/_debug';
@import 'modules/_scaleBar';
@import 'modules/_additionalLayers';
@import 'modules/_measureWidget';
@import 'modules/_legend';
@import 'modules/_tableauMoyen';
@import 'modules/_edition/_editionWidget';
@import 'modules/_edition/_drawToolWidget';
@import 'modules/_edition/_drawWidget';
@import 'modules/_edition/_deleteMenu';
@import 'modules/_popup';
@import 'modules/_bookmark';
@import 'modules/_modal';
@import 'modules/_toggle';
