// -------------------------------------------
// ESRI
// -------------------------------------------

.esri-popup__content {
  overflow: hidden !important;
}

.esri-popup--is-docked {
  margin: 16px 55px;
}

.esri-popup__inline-actions-container {
  justify-content: center !important;
}

.esri-popup__inline-actions-container > .esri-popup__action,
.esri-popup__inline-actions-container > .esri-popup__action-toggle,
.esri-popup__inline-actions-container:only-child > .esri-popup__action,
.esri-popup__inline-actions-container:only-child > .esri-popup__action-toggle {
  max-width: none !important;
}

// -------------------------------------------
// SEARCH
// -------------------------------------------

.app--popup-search_result {
  text-align: center;
  font-weight: 700;
}

// -------------------------------------------
// COMPA
// -------------------------------------------

.popup-compa-operational-layer_container {
  .esri-popup__main-container {
    max-width: 320px !important;
    max-height: 435px !important;
  }

  .esri-icon-zoom-in-magnifying-glass,
  .app-popup-form-submit,
  .app-popup-feature-remove {
    font-size: large;
  }

  .esri-icon-zoom-in-magnifying-glass + span,
  .app-popup-form-submit + span,
  .app-popup-feature-remove + span {
    display: none !important;
  }

  .app-popup-feature-remove {
    color: #ff0000;
  }

  .app-popup-form-submit {
    color: #0079c1;
  }
}

.app--popup-compa_graphic-layer .app--popup_tab-header {
  display: flex;
}

.app--popup-compa_graphic-layer .app--popup_tab-content,
.app--popup-compa_feature-layer {
  max-height: 285px !important;
  overflow-y: scroll;
  border: 1px solid #0079c130;
}

.app--popup_form,
.app--popup_form-item {
  display: flex;
  flex-direction: column;
}

.app--popup_form-item_check {
  flex-direction: row !important;
  align-items: center !important;
}

.app--popup_form {
  padding: 5px;

  textarea {
    resize: vertical !important;
  }

  input,
  textarea {
    border: 1px solid hsla(0, 0%, 43.1%, 0.3) !important;
  }

  input,
  select {
    height: 25px !important;
  }

  .app-input-date {
    display: flex;
    justify-content: space-between;

    input[type='date'] {
      width: 58% !important;
    }

    input[type='time'] {
      width: 40% !important;
    }
  }
}

.app--popup_form-item,
.app--popup_form-item_label,
.app--popup_form-item_field {
  margin: 5px 0;
}

.app--popup_form-item_label {
  font-weight: 700;
}

// -------------------------------------------
// GEOLOC
// -------------------------------------------

.app--popup-geoloc-cluster {
  max-height: 200px !important;
  overflow-y: auto !important;
  margin-top: 5px;
}

.popup-geosuivi-elt_container .esri-popup__header,
.popup-geosuivi-cluster_collapse_container .esri-popup__header,
.popup-geosuivi-cluster_details_container .esri-popup__header {
  //background-color: #f8f8f8 !important;
  color: unset !important;
  border-bottom: 1px solid#ececec !important;
}

.popup-geosuivi-elt_container .esri-popup__header,
.popup-geosuivi-cluster_details_container .esri-popup__header {
  .esri-popup__header-title {
    div {
      background-image: url('assets/images/geosuivi/icon-wifi.png');
      background-repeat: no-repeat;
      background-position: left center;
      display: flex;
      align-items: center;
    }

    span {
      padding-left: 24px !important;
    }
  }
}

.popup-geosuivi-elt_container .esri-popup__main-container {
  //min-height: 415px !important;
  max-height: 425px !important;
  width: 236px !important;
}

.popup-geosuivi-elt_container .esri-popup__content {
  margin: 5px 10px !important;
}

.geo-suivi-tpl--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('assets/images/geosuivi/smartphone.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 300px !important;
}

.geo-suivi-tpl--header,
.geo-suivi-tpl--content {
  width: 165px !important;
}

.geo-suivi-tpl--header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  img {
    width: 12px !important;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.geo-suivi-tpl--content,
.geo-suivi-tpl--content-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.geo-suivi-tpl--content {
  height: 255px;
  margin-top: -16px;
  div {
    text-align: center;
  }
}

.geo-suivi-tpl--content-infos {
  height: inherit;
  padding-top: 10px;
}

.geo-suivi-tpl--menu-value {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8 !important;
  color: unset !important;
  cursor: pointer;
  span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.geo-suivi-tpl--menu-value:hover,
.geo-suivi-tpl--menu-item:hover {
  background-color: #e1ddd5 !important;
}

.geo-suivi-tpl--menu-items {
  height: 180px;
  overflow: auto;
  flex-direction: column;
  display: none;
}

.geo-suivi-tpl--menu-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  text-align: start !important;

  img {
    width: 32px !important;
    height: auto !important;
  }

  span {
    font-size: smaller !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 115px;
  }
}

.geo-suivi-tpl--menu-item_reset-typ {
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.popup-geosuivi-cluster_details_container .esri-popup__main-container {
  width: 320px !important;
}

.popup-geosuivi-cluster_collapse_container .esri-popup__main-container {
  width: 220px !important;
}

.popup-geosuivi-cluster_collapse_container .esri-popup__content {
  margin: unset !important;
}

.geo-suivi-tpl_cluster_collapse--container {
  text-align: center;
  margin: 10px !important;
}

.popup-geosuivi-cluster_details_container {
  margin: 10px !important;
}

.geo-suivi-tpl_cluster_details--content {
  display: flex;
  flex-direction: column;
}

.geo-suivi-tpl_cluster_details--content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  div {
    display: flex;
    align-items: center;
  }

  .geo-suivi-tpl_cluster_details--content-item_left {
    flex-basis: 75%;
  }

  .geo-suivi-tpl_cluster_details--content-item_center,
  .geo-suivi-tpl_cluster_details--content-item_right {
    flex: 1;
  }

  img {
    padding-right: 5px;
  }
}

#img_tel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img_tel .popup-geosuivi-elt_container_tooltip {
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  z-index: 1;
}

#img_tel img {
  width: min-content;
}

.geo-suivi-tpl_cluster_details--item-zoom,
.geo-suivi-tpl_cluster_details--item-infos {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  img {
    height: 18px;
  }
}

.geo-suivi-tpl_cluster_details--imei-version {
  display: flex;
  padding-bottom: 25px;
  font-size: 9px;
}

.geo-suivi-tpl_cluster_details--item-version {
  margin-left: auto;
}

// -------------------------------------------
// FIELDS
// -------------------------------------------

// field url link PJ
.app-popup_field-link-pj:active:after {
  content: attr(clipboard-note);
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #ccc;
}

// compa layer labelling

.app-popup_field-labeling-color-container {
  border: 1px solid rgba(110, 110, 110, 0.3);
  height: 25px !important;
  padding: 1px;
}

.app-popup_field-labeling-color-container,
.app-popup_field-labeling-color-box {
  display: flex;
  align-items: center;
}

.app-popup_field-labeling-color-box {
  width: 16px !important;
  height: 16px !important;
  margin-right: 5px;
  border: 1px solid #515b6061;
  cursor: pointer;
}

.app-popup_field-labeling-color-items {
  display: none;
}

.app-popup_field-labeling-color-title {
  flex-grow: 1;
}

.esri-popup__inline-actions-container {
  display: flex;
}

.esri-popup__action:nth-child(1) {
  order: 1;
}

.esri-popup__action:nth-child(2) {
  order: 0;
}

.esri-popup__action:nth-child(3) {
  order: 2;
}
